/* Crownel's UI Theme */

/* 폰트 */

@font-face {
    font-family: 'HeirofLightBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 대치값 */
:root{
	--sidebar-item-height: 32px !important;
	--glassy: 0px 0px 2px rgba(255, 255, 255, 0.4) inset, 
    0px 0px 6px rgba(255, 255, 255, 0.2) inset, 
     1px  1px 1px rgba(0, 0, 0, 1), 
     1px -1px 1px rgba(0, 0, 0, 1), 
    -1px -1px 1px rgba(0, 0, 0, 1), 
    -1px  1px 1px rgba(0, 0, 0, 1), 
    0px 0px 3px rgba(0, 0, 0, 1), 
    0px 0px 4px rgba(0, 0, 0, 0.5);
}

/* 전체 폰트 적용 */

body, button, select, textarea {
	font-family: 'Pretendard-Regular',Signika, sans-serif !important;
}

/* 팝업창 배경 색깔 */

.window-app .window-content {
	background: #e8e8ef !important;
}

/* 사이드바 배경 색깔 */
.app:not(#controls ol, #navigation) {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%) !important;
	box-shadow: 0px 0px 20px 0px rgba(41,50,60,0.8) !important;
}

/* 나레이터 챗 */

#chat-log .chat-message.message.flexcol.narrator-chat.narrator-narrative{
	background:#000 !important;
}

#chat-log .chat-message.message.flexcol.narrator-chat .message-content{
    font-family: 'HeirofLightBold',Signika, san-serif !important;
	color: white !important;
}

#chat-log .chat-message.message.flexcol.narrator-chat .message-sender {
	background-color: transparent;
	background: none;
	padding-top: 0px !important;
	padding-left: 0px;
	border-bottom: none;
	box-shadow: none;
	margin-left: 0px !important;
	margin-bottom: 0px !important;
}

#chat-log .chat-message.message.flexcol.narrator-chat .message-header {
	margin-bottom: 0px;
}

.narrator-content {
	font-family: 'HeirofLightBold',Signika, san-serif;
}


/* 채팅 본문*/

#chat-log .message {
    background: #29323c;
	color: #eee;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
	padding: 3px;
}

#chat-log .message.whisper {
    background: #785A68;
}

#chat-log .message.emote {
	background: #486959;
}

#chat-log .message.emote .message-content {
	color: #eee;
}

.chat-message .table-draw .table-description, .chat-message .message-header .flavor-text, .chat-message .message-header .whisper-to, footer.nue {
	color:#ddd !important;
}

/* 채팅 형식 꾸미기*/

h2.cell__title {
	font-weight: bold;
}

.chat-message .message-header .message-sender {
	border-bottom: 2px solid #757575;
	text-align: left;
	margin-bottom: 7px !important;
	padding-top: 7px !important;
	font-weight: bold;
	font-style: normal;
	flex: 3;
}
.chat-message .message-header {
	color:#eee !important;
	border-bottom: 2px solid #444;
	margin-bottom: 7px;
}


/* 삽입 이미지 테두리 삭제 */

img {
	border: none;
}

/* 매크로 버튼이 내용 안 가리게*/
.macro-editor {
  height: calc(100% - 24px) !important;
}

/* 왼쪽 컨트롤 위치를 위로 */
#controls{
	margin-top: 0px;
}

/* 카미가카리 탤런트 사용, 대미지 적용 버튼 커스텀*/
button.use-talent, button.calc-damage, button.apply-damage {
    background: #1f1f1f;
    color: #efefef;
    font-weight: 600;
}

button.use-talent {
    background: #3b3b3b;
}

button.calc-damage {
    background: #59afff;
}

button.apply-damage {
    background: #ff5959;
}

#chat-controls i.fas {
	font-size: var(--font-size);
}

/* 채팅입력창 */
#chat-form {
    flex: 0 0 12% !important;
}

#chat-form textarea {
	background:#485563 !important;
	color: #fff;
	border-radius: 0;
	border: none;
}

textarea:focus {
	box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.4) inset, 
    0px 0px 10px rgba(255, 255, 255, 0.2) inset !important;
}

/* Theatre Inserts 설정창 축소 */
.theatre-control-group {
	flex: 0 0 36px !important;
	height: 36px !important;
}

.theatre-control-nav-bar-item {
	flex: 0 0 32px !important;
	width: 32px !important;
	height: 32px !important;
}

/* Theatre Inserts - 채팅 컨트롤 버튼 축소 */

#chat-controls {
	justify-content: right;
	margin: 6px !important;
	overflow: unset;
}

#chat-controls .roll-type-select {
	margin: 0 0 0 6px !important;
}

#chat-controls i.fas {
	font-size: 12px !important;
	width: 12px !important;
	height: 12px;
}

#chat-controls .control-buttons {
	flex-basis: fit-content !important;
}

/* 아이템 및 폴더 목록 크기 및 스타일 조절 */
li.folder > .folder-header {
	padding: 3px !important;
}

.directory .directory-list .directory-item.document {
	border-top: 1px solid var(--color-border-dark) !important;
	border-bottom: 1px solid var(--color-border-light-tertiary) !important;
}

.directory .directory-list .directory-item:last-child {
  border-bottom: none !important;
}

/* 장면 목록 크기 및 스타일 조절 */
#scenes {
  --sidebar-scene-height: 64px !important;
}

#scenes .scene h3 {
	font-size: 1.3em !important;
}

#scenes .scene {
    border: 2px solid var(--color-border-dark-1) !important;
}

/* 컴펜디움 목록 크기 조절 */
.compendium.directory .directory-list .directory-item {
	line-height: 32px !important;
	border-top: 1px solid transparent !important;
	border-bottom: 1px solid var(--color-border-light-primary) !important;
	box-shadow: none !important;
}

.compendium.directory .directory-list .directory-item:last-child {
	border-bottom-color: transparent !important;
}

#compendium li.compendium-pack {
  position: relative;
  padding: 4px 6px !important;
  line-height: 16px !important;
}

/* ESC 메뉴 조절 */
#menu {
	width: 320px !important;
}

#menu #menu-items li > i {
	line-height: 42px !important;
}

#menu #menu-items li h4 {
  font-size: 1.5rem !important;
  line-height: 42px !important;
}

/* 재생목록 스타일 변경 */

#playlists .playlist {
	background: #29323c;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
}

#playlists li.sound:hover {
	box-shadow: var(--glassy);
}

#playlists #global-volume li.sound, #playlists li.sound.flexrow.playing:hover {
    box-shadow: none;
}

#playlists .playlist .playlist-header, #playlists .global-control .playlist-header h4 {
	text-decoration: none !important;
}

#playlists .playlist-sounds:not(#playlists .global-control .playlist-sounds) {
	border-top: 2px solid #757575;
	color: #ddd;
}

/* 설정 버튼 정렬 - Tidy Game Setting UI 비활성화 필요 */

#settings {
	padding: 0 1rem 1rem 1rem !important;
	overflow-y: auto;
  }
  
  #settings button {
	padding: .25rem .5rem !important;
	margin: 0 0 .125rem 0 !important;
	cursor: pointer;
  }
  
  #settings button[data-action="world"], #settings button[data-action="logout"] {
	margin-top: 1rem !important;
  }

/* Token Action HUD - Dorako UI 참조함 */
#token-action-hud {
	gap: 0.01rem !important;
}

.tah-title-button {
	background: linear-gradient(60deg, #29323c 0%, #485563 100%) !important;
	box-shadow: 0px 0px 10px 0px rgba(41,50,60,0.8);
	border: none !important;
	border-radius: 0;
	padding: 0 5px 0 5px !important;
}

.tah-content {
    gap: 0px;
    padding: 10px !important;
    margin: -5px;
}

.tah-actions {
    grid-column: 2;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 1000px;
    row-gap: 3px;
    column-gap: 3px;
    margin-bottom: 0px;
    font-size: medium;
}

.tah-action {
	padding: 0 !important;
	margin: 0.1rem !important;
}

.tah-action button {
    border: none !important;
    border-radius: 0;
	background-color: #000 !important;
    line-height: unset;
    margin-left: unset;
    padding-left: 7px;
    padding-right: 7px;
    min-width: 25px;
    height:25px;
}

.tah-action.active,
.tah-action.active button[value*="toggle"]{
    background-color: hsl(234, 64%, 35%) !important;
}

.tah-title-button:hover,
.tah-action button:hover {
    transition: backdrop-filter 0.15s ease-out;
    transition: background-color 0.15s ease-out;
    background-color: #785A68 !important;
    border: none !important;
	box-shadow: var(--glassy) !important;
}

.tah-action button[value^="toggle"]:hover {
    transition: backdrop-filter 0.15s ease-out;
    transition: background-color 0.15s ease-out;
    background-color: hsl(234, 64%, 25%) !important;
    border: none !important;
    box-shadow: var(--glassy)  !important;
}